<div class="container mx-auto p-4">
    <!-- Header con el número de artículos -->
    <header class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Carrito de Compras</h1>
      <div class="flex items-center">
        <span class="bg-teal-600 text-white rounded-full px-3 py-1 text-sm font-semibold">
            {{ cartItems.length || 0 }}
        </span>
        <span class="ml-2">artículo(s)</span>
      </div>
    </header>
  
    <!-- Mensaje si hay error o carrito vacío -->
    <div *ngIf="mensaje" class="text-red-500 text-center mb-4">{{ mensaje }}</div>
    <div *ngIf="cartItems && cartItems.length > 0; else emptyCart">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Producto
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Cantidad
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Precio Unitario
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Precio Total
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let item of cartItems">
            <td class="px-6 py-4 whitespace-nowrap">
              {{ item.nombre_producto }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ item.cantidad }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              ${{ item.precio_unitario }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              ${{ item.precio_total }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Template para carrito vacío -->
    <ng-template #emptyCart>
      <p class="text-center text-gray-500">No hay productos en el carrito.</p>
    </ng-template>
  </div>
  