<header class="bg-white shadow-sm">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Logo -->
    <div class="text-[#2aac62] text-2xl font-bold flex items-center">
      <img src="https://res.cloudinary.com/deo0abwns/image/upload/v1737660315/Jarciplas/g8zxvaynhnmd0jlqkugw.jpg" 
           alt="Logo Jarciplas" 
           class="w-24 h-24 mr-2 rounded-full">
      Jarciplas
    </div>

    <!-- Navigation -->
    <nav class="hidden md:flex space-x-8 text-[#357563] font-medium">
      <a [routerLink]="'/adm/home'" class="hover:text-[#2aac62] transition-colors duration-300">Inicio</a>
      <a [routerLink]="'/adm/productos'" class="hover:text-[#2aac62] transition-colors duration-300">Productos</a>
      <!-- <a [routerLink]="'/adm/pronostico'" class="hover:text-[#2aac62] transition-colors duration-300">Pronostico de productos</a>
      <a [routerLink]="'/adm/detalles'" class="hover:text-[#2aac62] transition-colors duration-300">Detalles</a> -->
      <a [routerLink]="'/adm/politicas'" class="hover:text-[#2aac62] transition-colors duration-300">Políticas</a>
      <a [routerLink]="'/adm/trabajadores'" class="hover:text-[#2aac62] transition-colors duration-300">Trabajadores</a>
      <a [routerLink]="'/adm/contactanos'" class="hover:text-[#2aac62] transition-colors duration-300">Contactanos</a>
    </nav>
    
    <!-- Botón de cerrar sesión mejorado -->
    <div *ngIf="authService.isAuthenticated()" class="flex items-center">
      <button 
        (click)="logout()"
        class="flex items-center gap-2 px-5 py-2.5 bg-red-600 text-white rounded-lg shadow-md hover:bg-red-700 hover:shadow-lg transition-all duration-300 font-semibold">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
        </svg>
        Cerrar Sesión
      </button>
    </div>
  </div>
</header>