<header class="bg-[#f3f9f7] shadow-md">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Logo -->
    <div class="text-[#2aac62] text-xl font-bold">Jarciplas</div>

    <!-- Navigation -->
    <nav class="space-x-8 text-[#357563] font-medium">
      <a [routerLink]="'/adm/home'" class="hover:text-[#2aac62]">Inicio</a>
      <a [routerLink]="'/adm/productos'" class="hover:text-[#2aac62]">Productos</a>
      <a [routerLink]="'/adm/politicas'" class="hover:text-[#2aac62]">Politicas</a>
      <a [routerLink]="'/adm/trabajadores'" class="hover:text-[#2aac62]">Trabajadores</a>
    </nav>
  </div>
</header>
