<header class="bg-[#f3f9f7] shadow-md">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
      <!-- Logo -->
      <div class="text-[#2aac62] text-xl font-bold">Jarciplas</div>
  
      <!-- Navigation -->
      <nav class="space-x-8 text-[#357563] font-medium">
        <a [routerLink]="'/cliente/home'" class="hover:text-[#2aac62] transition-colors">Inicio</a>
        <a [routerLink]="'/cliente/catalogo'" class="hover:text-[#2aac62] transition-colors">Productos</a>
        <a [routerLink]="'/adm/proveedores'" class="hover:text-[#2aac62] transition-colors">Proveedores</a>
        <a [routerLink]="'/adm/inventario'" class="hover:text-[#2aac62] transition-colors">Inventario</a>
      </nav>
    </div>
  </header>