<header class="bg-[#f3f9f7] shadow-md">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
      <!-- Logo -->
      <div class="text-[#2aac62] text-xl font-bold">Jarciplas</div>
  
      <!-- Navigation -->
      <nav class="space-x-8 text-[#357563] font-medium">
        <a [routerLink]="'/cliente/home'" class="hover:text-[#2aac62] transition-colors">Catalogo</a>
        <a [routerLink]="'/cliente/ofertas'" class="hover:text-[#2aac62] transition-colors">Ofertas</a>
        <a [routerLink]="'/cliente/historial'" class="hover:text-[#2aac62] transition-colors">Historial de compras</a>
        <a [routerLink]="'/cliente/notificaciones'" class="hover:text-[#2aac62] transition-colors">Notificaciones</a>
        <a [routerLink]="'/cliente/perfil'" class="hover:text-[#2aac62] transition-colors">Perfil</a>
      </nav>
    </div>
  </header>